* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
  /*
  custom colors follow
  The green is used in the nav and contact.
  The orange is for pops of color and to indicate interaction.
  */
  --deepGreen: #0f261f;
  --popInteraction: #b85e00;
  --linkColor: #4f8fe6;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 150px;
  padding-bottom: 50px; /*50px for the height of the bottom navbar*/
  flex: content;
  flex-basis: content;
  @media (max-width: 768px) {
    body {
      padding-top: 100px;
    }
  }
}

/* navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 8%;
  background-color: var(--deepGreen);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 20px;
  color: #f2f0ef;
  font-weight: 400;
  transition: 0.3s ease;
}
.navbar a {
  font-size: 12px;
  color: #f2f0ef;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
  color: var(--popInteraction);
  border-bottom: 3px solid var(--popInteraction);
}
.contact {
  padding: 12px 24px;
  background-color: #f2f0ef;
  color: var(--deepGreen);
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}
.contact:hover {
  background-color: var(--popInteraction);
  box-shadow: 0 0 16px var(--popInteraction);
  color: #f2f0ef;
}

/* responsive nav */

@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }
}

/* main body*/

.intro {
  position: fixed;
  width: 62%;
  margin: 50px 0;
  padding-left: 37px;
  padding-right: 38px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  flex-basis: content;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.intro .text {
  flex: 5;
}

.intro .headshot {
  flex: 2;
}

.intro .text .links {
  margin-top: 26px;
}
.intro .text .links {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--linkColor);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.intro .text .links a:hover {
  color: var(--popInteraction);
  border: 2px solid var(--popInteraction);
}

/* contact form*/

.contact-form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 36px;
}

.contact-form form {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

contact-form form .input-box input {
}
